.form {
  width: 100%;
  display: flex;
  padding: 1.4rem 1rem;
  background-color: var(--color-bg-dark);
}

.input {
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
}

.button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font-weight: bold;
}